.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    height: 60px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header a {
    color: #333;
    margin-right: 20px;
    cursor: pointer;
  }

  .header .theme-trigger.dark {
    animation: fade1 .5s linear;
  }

  @keyframes fade1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }

  [data-theme='dark'] .header a {
    color: rgb(146, 146, 146);
    cursor: pointer;
  }
  
  .header a:hover {
    color: #000;
  }

  [data-theme='dark'] .header a:hover {
    color: rgb(255, 255, 255);
  }
  .header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .logo {
    color: red !important;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .logo a {
    color: red !important;
  }

  .logo a:hover {
    color: white !important;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
    }
  
    .header ul {
      margin: 20px 0;
      flex-direction: column;
      text-align: center;
    }
  
    .header a {
      margin-right: 0;
    }
  
    .logo {
      margin: 20px 0;
    }
  }
  